<a href="https://colab.research.google.com/github/zimin205/BDA_Data/blob/main/member_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import re

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/BDA 6기 운영진/6기 데이터팀/김지민/10기db.xlsx')

In [ ]:
출석표 = pd.read_excel('/content/drive/MyDrive/BDA 6기 운영진/6기 데이터팀/김지민/10기 출석표.xlsx')

In [ ]:
df.columns

Index(['member_id', 'member_name', 'generation', 'birthday', 'email',
       'phone_number', 'school1', 'major1_1', 'major1_2', 'major1_3',
       'school2', 'major2', 'job', 'job_domain', 'company', 'major_data',
       'class1', 'class2', 'class3', 'class4', 'marketing_agree',
       'contents_agree', 'before_id', 'withdrawal', '식별자'],
      dtype='object')

In [ ]:
df

,member_id,member_name,generation,birthday,email,phone_number,school1,major1_1,major1_2,major1_3,...,major_data,class1,class2,class3,class4,marketing_agree,contents_agree,before_id,withdrawal,식별자
0,2025100001,Hannah Safiah Binti Saharani,10,20030102.0,h.safiahx@gmail.com,1058631610,정보없음,NaN,NaN,NaN,...,False,1,NaN,NaN,NaN,True,True,NaN,False,Hannah Safiah Binti Saharani_16
1,2025100002,Ngoc Vu (알렉스),10,20030323.0,alex.vnbn@gmail.com,1073063668,연세대학교 서울캠퍼스,창의기술경영학과,NaN,NaN,...,False,14,NaN,NaN,NaN,True,True,NaN,False,Ngoc Vu (알렉스)_36
2,2025100003,Nur Izzatty Binti Mohamad Jamal,10,19950228.0,izzattyjamal28@gmail.com,1097694955,University Malaysia Sarawak 대학교,Faculty of Resources Science and Technology 학과...,없음,없음,...,False,1,NaN,NaN,NaN,True,True,NaN,False,Nur Izzatty Binti Mohamad Jamal_49
3,2025100004,강동운,10,20011116.0,rvescd@gmail.com,1085059745,가천대학교 글로벌캠퍼스,응용통계학과,없음,없음,...,True,15,NaN,NaN,NaN,True,True,NaN,False,강동운_97
4,2025100005,강두원,10,20010926.0,danbean2013@gmail.com,1063197508,세종대학교,데이터사이언스학과,없음,없음,...,True,4,NaN,NaN,NaN,True,True,NaN,False,강두원_75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,2025100914,황정민,10,20000119.0,hjm8625@hanyang.ac.kr,1092538625,한양대학교 서울캠퍼스,융합전자공학부,NaN,NaN,...,False,2,NaN,NaN,NaN,True,True,NaN,False,황정민_86
914,2025100915,황종서,10,20040403.0,jongseo9955@gmail.com,1099553477,연세대학교 신촌캠퍼스,기계공학부,없음,없음,...,False,4,NaN,NaN,NaN,True,True,NaN,False,황종서_34
915,2025100916,황준영,10,20030209.0,junyh29@gmail.com,1036658637,중앙대학교 서울캠퍼스,에너지시스템공학부,없음,없음,...,False,4,16,NaN,NaN,True,True,NaN,False,황준영_86
916,2025100917,황지영,10,20021205.0,jihwangww@gmail.com,1050552321,경북대학교 대구캠퍼스,컴퓨터학부,NaN,NaN,...,True,4,5,NaN,NaN,True,True,NaN,False,황지영_23
917,2025100918,황지희,10,20030825.0,ghkdwlgml0825@gmail.com,1062687360,연세대학교,계량위험관리학과,없음,없음,...,False,12,15,NaN,NaN,True,True,NaN,False,황지희_73

In [ ]:
df[df['class1'].isna()]

Empty DataFrame
Columns: [member_id, member_name, generation, birthday, email, phone_number, school1, major1_1, major1_2, major1_3, school2, major2, job, job_domain, company, major_data, class1, class2, class3, class4, marketing_agree, contents_agree, before_id, withdrawal, 식별자]
Index: []

[0 rows x 25 columns]

In [ ]:
df['before_id'] = ''

In [ ]:
df.columns

Index(['member_id', 'member_name', 'generation', 'birthday', 'email',
       'phone_number', 'school1', 'major1_1', 'major1_2', 'major1_3',
       'school2', 'major2', 'job', 'job_domain', 'company', 'major_data',
       'class1', 'class2', 'class3', 'class4', 'marketing_agree',
       'contents_agree', 'before_id', 'withdrawal', '식별자'],
      dtype='object')

In [ ]:
columns = ['식별자','member_id', 'member_name', 'generation', 'birthday', 'email', 'phone_number', 'school1', 'major1_1' ,'major1_2','major1_3','school2' ,'major2','company', 'job' , 'job_domain', 'major_data' ,'class1', 'class2' ,'class3', 'class4', 'marketing_agree', 'contents_agree', 'before_id', 'withdrawal']

In [ ]:
member_10 = df[columns]
member_10

,식별자,member_id,member_name,generation,birthday,email,phone_number,school1,major1_1,major1_2,...,job_domain,major_data,class1,class2,class3,class4,marketing_agree,contents_agree,before_id,withdrawal
0,Hannah Safiah Binti Saharani_16,2025100001,Hannah Safiah Binti Saharani,10,20030102.0,h.safiahx@gmail.com,1058631610,정보없음,NaN,NaN,...,A. 해당없음,False,1,NaN,NaN,NaN,True,True,,False
1,Ngoc Vu (알렉스)_36,2025100002,Ngoc Vu (알렉스),10,20030323.0,alex.vnbn@gmail.com,1073063668,연세대학교 서울캠퍼스,창의기술경영학과,NaN,...,A. 해당없음,False,14,NaN,NaN,NaN,True,True,,False
2,Nur Izzatty Binti Mohamad Jamal_49,2025100003,Nur Izzatty Binti Mohamad Jamal,10,19950228.0,izzattyjamal28@gmail.com,1097694955,University Malaysia Sarawak 대학교,Faculty of Resources Science and Technology 학과...,없음,...,A. 해당없음,False,1,NaN,NaN,NaN,True,True,,False
3,강동운_97,2025100004,강동운,10,20011116.0,rvescd@gmail.com,1085059745,가천대학교 글로벌캠퍼스,응용통계학과,없음,...,A. 해당없음,True,15,NaN,NaN,NaN,True,True,,False
4,강두원_75,2025100005,강두원,10,20010926.0,danbean2013@gmail.com,1063197508,세종대학교,데이터사이언스학과,없음,...,A. 해당없음,True,4,NaN,NaN,NaN,True,True,,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,황정민_86,2025100914,황정민,10,20000119.0,hjm8625@hanyang.ac.kr,1092538625,한양대학교 서울캠퍼스,융합전자공학부,NaN,...,A. 해당없음,False,2,NaN,NaN,NaN,True,True,,False
914,황종서_34,2025100915,황종서,10,20040403.0,jongseo9955@gmail.com,1099553477,연세대학교 신촌캠퍼스,기계공학부,없음,...,A. 해당없음,False,4,NaN,NaN,NaN,True,True,,False
915,황준영_86,2025100916,황준영,10,20030209.0,junyh29@gmail.com,1036658637,중앙대학교 서울캠퍼스,에너지시스템공학부,없음,...,A. 해당없음,False,4,16,NaN,NaN,True,True,,False
916,황지영_23,2025100917,황지영,10,20021205.0,jihwangww@gmail.com,1050552321,경북대학교 대구캠퍼스,컴퓨터학부,NaN,...,A. 해당없음,True,4,5,NaN,NaN,True,True,,False
917,황지희_73,2025100918,황지희,10,20030825.0,ghkdwlgml0825@gmail.com,1062687360,연세대학교,계량위험관리학과,없음,...,L. 금융 및 보험업,False,12,15,NaN,NaN,True,True,,False

In [ ]:
member_10[member_10['member_name'].isna()]

Empty DataFrame
Columns: [식별자, member_id, member_name, generation, birthday, email, phone_number, school1, major1_1, major1_2, major1_3, school2, major2, company, job, job_domain, major_data, class1, class2, class3, class4, marketing_agree, contents_agree, before_id, withdrawal]
Index: []

[0 rows x 25 columns]

In [ ]:
# 'member_name'이 NaN인 경우에만 추출
member_10_na = member_10[member_10['member_name'].isna()].copy()

# 출석표의 '이름', '전화번호', '이메일', '소속대학'을 병합
member_10_na = pd.merge(member_10_na, 출석표[['식별자', '이름', '전화번호', '이메일', '소속대학']], on='식별자', how='left')
member_10_na.drop_duplicates(['식별자'],inplace=True)
# 인덱스를 member_10와 일치시키기 위해 재설정
member_10_na.set_index(member_10[member_10['member_name'].isna()].index, inplace=True)

# 필요한 컬럼만 가져와 기존의 member_9에 할당
member_10.loc[member_10['member_name'].isna(), 'member_name'] = member_10_na['이름']
member_10.loc[member_10['phone_number'].isna(), 'phone_number'] = member_10_na['전화번호']
member_10.loc[member_10['email'].isna(), 'email'] = member_10_na['이메일']
member_10.loc[member_10['school1'].isna(), 'school1'] = member_10_na['소속대학']

In [ ]:
member_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   식별자              918 non-null    object
 1   member_id        918 non-null    int64
 2   member_name      918 non-null    object
 3   generation       918 non-null    int64
 4   birthday         871 non-null    float64
 5   email            918 non-null    object
 6   phone_number     918 non-null    int64
 7   school1          918 non-null    object
 8   major1_1         831 non-null    object
 9   major1_2         702 non-null    object
 10  major1_3         566 non-null    object
 11  school2          918 non-null    object
 12  major2           23 non-null     object
 13  company          54 non-null     object
 14  job              878 non-null    object
 15  job_domain       871 non-null    object
 16  major_data       918 non-null    bool
 17  class1           918 non-null    object
 18  class2           263 non-null    object
 19  class3           46 non-null     float64
 20  class4           7 non-null      float64
 21  marketing_agree  918 non-null    bool
 22  contents_agree   918 non-null    bool
 23  before_id        918 non-null    object
 24  withdrawal       918 non-null    bool
dtypes: bool(4), float64(3), int64(3), object(15)
memory usage: 154.3+ KB

In [ ]:
member_10.head()

,식별자,member_id,member_name,generation,birthday,email,phone_number,school1,major1_1,major1_2,...,job_domain,major_data,class1,class2,class3,class4,marketing_agree,contents_agree,before_id,withdrawal
0,Hannah Safiah Binti Saharani_16,2025100001,Hannah Safiah Binti Saharani,10,20030102.0,h.safiahx@gmail.com,1058631610,정보없음,NaN,NaN,...,A. 해당없음,False,1,NaN,NaN,NaN,True,True,,False
1,Ngoc Vu (알렉스)_36,2025100002,Ngoc Vu (알렉스),10,20030323.0,alex.vnbn@gmail.com,1073063668,연세대학교 서울캠퍼스,창의기술경영학과,NaN,...,A. 해당없음,False,14,NaN,NaN,NaN,True,True,,False
2,Nur Izzatty Binti Mohamad Jamal_49,2025100003,Nur Izzatty Binti Mohamad Jamal,10,19950228.0,izzattyjamal28@gmail.com,1097694955,University Malaysia Sarawak 대학교,Faculty of Resources Science and Technology 학과...,없음,...,A. 해당없음,False,1,NaN,NaN,NaN,True,True,,False
3,강동운_97,2025100004,강동운,10,20011116.0,rvescd@gmail.com,1085059745,가천대학교 글로벌캠퍼스,응용통계학과,없음,...,A. 해당없음,True,15,NaN,NaN,NaN,True,True,,False
4,강두원_75,2025100005,강두원,10,20010926.0,danbean2013@gmail.com,1063197508,세종대학교,데이터사이언스학과,없음,...,A. 해당없음,True,4,NaN,NaN,NaN,True,True,,False

In [ ]:
# member_name과 phone_number가 모두 중복인 데이터 확인
duplicated_data = member_10[member_10.duplicated(subset=['member_name', 'phone_number'], keep=False)]

# 중복된 데이터 출력
duplicated_data.to_excel('/content/drive/MyDrive/BDA 6기 운영진/6기 데이터팀/김지민/duplicated.xlsx')
duplicated_data

Empty DataFrame
Columns: [식별자, member_id, member_name, generation, birthday, email, phone_number, school1, major1_1, major1_2, major1_3, school2, major2, company, job, job_domain, major_data, class1, class2, class3, class4, marketing_agree, contents_agree, before_id, withdrawal]
Index: []

[0 rows x 25 columns]

In [ ]:
# member_name을 기준으로 오름차순 정렬
member_10 = member_10.sort_values(by='member_name').reset_index(drop=True)

#식별자 기준 중복 제거
member_10.drop_duplicates(['식별자'],inplace=True)

# 가입년도, 기수, 학회원 순번에 따라 member_id를 생성
member_10['member_id'] = member_10.index + 1  # 이름순으로 정렬한 후 1부터 부여
member_10['member_id'] = member_10['member_id'].apply(lambda x: int(f"202510{x:04d}"))
member_10

,식별자,member_id,member_name,generation,birthday,email,phone_number,school1,major1_1,major1_2,...,job_domain,major_data,class1,class2,class3,class4,marketing_agree,contents_agree,before_id,withdrawal
0,Hannah Safiah Binti Saharani_16,2025100001,Hannah Safiah Binti Saharani,10,20030102.0,h.safiahx@gmail.com,1058631610,정보없음,NaN,NaN,...,A. 해당없음,False,1,NaN,NaN,NaN,True,True,,False
1,Ngoc Vu (알렉스)_36,2025100002,Ngoc Vu (알렉스),10,20030323.0,alex.vnbn@gmail.com,1073063668,연세대학교 서울캠퍼스,창의기술경영학과,NaN,...,A. 해당없음,False,14,NaN,NaN,NaN,True,True,,False
2,Nur Izzatty Binti Mohamad Jamal_49,2025100003,Nur Izzatty Binti Mohamad Jamal,10,19950228.0,izzattyjamal28@gmail.com,1097694955,University Malaysia Sarawak 대학교,Faculty of Resources Science and Technology 학과...,없음,...,A. 해당없음,False,1,NaN,NaN,NaN,True,True,,False
3,강동운_97,2025100004,강동운,10,20011116.0,rvescd@gmail.com,1085059745,가천대학교 글로벌캠퍼스,응용통계학과,없음,...,A. 해당없음,True,15,NaN,NaN,NaN,True,True,,False
4,강두원_75,2025100005,강두원,10,20010926.0,danbean2013@gmail.com,1063197508,세종대학교,데이터사이언스학과,없음,...,A. 해당없음,True,4,NaN,NaN,NaN,True,True,,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,황정민_86,2025100914,황정민,10,20000119.0,hjm8625@hanyang.ac.kr,1092538625,한양대학교 서울캠퍼스,융합전자공학부,NaN,...,A. 해당없음,False,2,NaN,NaN,NaN,True,True,,False
914,황종서_34,2025100915,황종서,10,20040403.0,jongseo9955@gmail.com,1099553477,연세대학교 신촌캠퍼스,기계공학부,없음,...,A. 해당없음,False,4,NaN,NaN,NaN,True,True,,False
915,황준영_86,2025100916,황준영,10,20030209.0,junyh29@gmail.com,1036658637,중앙대학교 서울캠퍼스,에너지시스템공학부,없음,...,A. 해당없음,False,4,16,NaN,NaN,True,True,,False
916,황지영_23,2025100917,황지영,10,20021205.0,jihwangww@gmail.com,1050552321,경북대학교 대구캠퍼스,컴퓨터학부,NaN,...,A. 해당없음,True,4,5,NaN,NaN,True,True,,False
917,황지희_73,2025100918,황지희,10,20030825.0,ghkdwlgml0825@gmail.com,1062687360,연세대학교,계량위험관리학과,없음,...,L. 금융 및 보험업,False,12,15,NaN,NaN,True,True,,False

In [ ]:
member_10.loc[member_10['generation'].isna(), 'generation']=10
member_10[member_10['generation'].isna()]

Empty DataFrame
Columns: [식별자, member_id, member_name, generation, birthday, email, phone_number, school1, major1_1, major1_2, major1_3, school2, major2, company, job, job_domain, major_data, class1, class2, class3, class4, marketing_agree, contents_agree, before_id, withdrawal]
Index: []

[0 rows x 25 columns]

In [ ]:
# phone_number 컬럼을 문자열로 변환
member_10['phone_number'] = member_10['phone_number'].apply(lambda x: str(int(x)) if pd.notna(x) and isinstance(x, float) else str(x))
# phone_number 컬럼에서 앞에 '10'으로 시작하는 경우 '010'으로 수정
member_10['phone_number'] = member_10['phone_number'].apply(lambda x: '010' + x[2:] if x.startswith('10') else x)

member_10

,식별자,member_id,member_name,generation,birthday,email,phone_number,school1,major1_1,major1_2,...,job_domain,major_data,class1,class2,class3,class4,marketing_agree,contents_agree,before_id,withdrawal
0,Hannah Safiah Binti Saharani_16,2025100001,Hannah Safiah Binti Saharani,10,20030102.0,h.safiahx@gmail.com,01058631610,정보없음,NaN,NaN,...,A. 해당없음,False,1,NaN,NaN,NaN,True,True,,False
1,Ngoc Vu (알렉스)_36,2025100002,Ngoc Vu (알렉스),10,20030323.0,alex.vnbn@gmail.com,01073063668,연세대학교 서울캠퍼스,창의기술경영학과,NaN,...,A. 해당없음,False,14,NaN,NaN,NaN,True,True,,False
2,Nur Izzatty Binti Mohamad Jamal_49,2025100003,Nur Izzatty Binti Mohamad Jamal,10,19950228.0,izzattyjamal28@gmail.com,01097694955,University Malaysia Sarawak 대학교,Faculty of Resources Science and Technology 학과...,없음,...,A. 해당없음,False,1,NaN,NaN,NaN,True,True,,False
3,강동운_97,2025100004,강동운,10,20011116.0,rvescd@gmail.com,01085059745,가천대학교 글로벌캠퍼스,응용통계학과,없음,...,A. 해당없음,True,15,NaN,NaN,NaN,True,True,,False
4,강두원_75,2025100005,강두원,10,20010926.0,danbean2013@gmail.com,01063197508,세종대학교,데이터사이언스학과,없음,...,A. 해당없음,True,4,NaN,NaN,NaN,True,True,,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,황정민_86,2025100914,황정민,10,20000119.0,hjm8625@hanyang.ac.kr,01092538625,한양대학교 서울캠퍼스,융합전자공학부,NaN,...,A. 해당없음,False,2,NaN,NaN,NaN,True,True,,False
914,황종서_34,2025100915,황종서,10,20040403.0,jongseo9955@gmail.com,01099553477,연세대학교 신촌캠퍼스,기계공학부,없음,...,A. 해당없음,False,4,NaN,NaN,NaN,True,True,,False
915,황준영_86,2025100916,황준영,10,20030209.0,junyh29@gmail.com,01036658637,중앙대학교 서울캠퍼스,에너지시스템공학부,없음,...,A. 해당없음,False,4,16,NaN,NaN,True,True,,False
916,황지영_23,2025100917,황지영,10,20021205.0,jihwangww@gmail.com,01050552321,경북대학교 대구캠퍼스,컴퓨터학부,NaN,...,A. 해당없음,True,4,5,NaN,NaN,True,True,,False
917,황지희_73,2025100918,황지희,10,20030825.0,ghkdwlgml0825@gmail.com,01062687360,연세대학교,계량위험관리학과,없음,...,L. 금융 및 보험업,False,12,15,NaN,NaN,True,True,,False

In [ ]:
# int로 변환해야 하는 컬럼
member_10['member_id'] = member_10['member_id'].astype(int)
member_10['generation'] = member_10['generation'].astype(int)
member_10['class1'] = member_10['class1'].astype('Int64', errors='ignore')  # Null 값이 있는 경우를 고려하여 'Int64' 사용
member_10['class2'] = member_10['class2'].astype('Int64', errors='ignore')
member_10['class3'] = member_10['class3'].astype('Int64', errors='ignore')
member_10['class4'] = member_10['class4'].astype('Int64', errors='ignore')
# str로 변환해야 하는 컬럼
str_columns = ['member_name', 'birthday', 'email', 'phone_number', 'school1', 'major1_1', 'major1_2',
               'major1_3', 'school2', 'major2', 'company', 'job']
member_10[str_columns] = member_10[str_columns].astype(str)

# bool로 변환해야 하는 컬럼
member_10['major_data'] = member_10['major_data'].astype(bool)
member_10['marketing_agree'] = member_10['marketing_agree'].astype(bool)
member_10['contents_agree'] = member_10['contents_agree'].astype(bool)
member_10['withdrawal'] = member_10['withdrawal'].astype(bool)

In [ ]:
member_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   식별자              918 non-null    object
 1   member_id        918 non-null    int64
 2   member_name      918 non-null    object
 3   generation       918 non-null    int64
 4   birthday         918 non-null    object
 5   email            918 non-null    object
 6   phone_number     918 non-null    object
 7   school1          918 non-null    object
 8   major1_1         918 non-null    object
 9   major1_2         918 non-null    object
 10  major1_3         918 non-null    object
 11  school2          918 non-null    object
 12  major2           918 non-null    object
 13  company          918 non-null    object
 14  job              918 non-null    object
 15  job_domain       871 non-null    object
 16  major_data       918 non-null    bool
 17  class1           918 non-null    object
 18  class2           263 non-null    object
 19  class3           46 non-null     Int64
 20  class4           7 non-null      Int64
 21  marketing_agree  918 non-null    bool
 22  contents_agree   918 non-null    bool
 23  before_id        918 non-null    object
 24  withdrawal       918 non-null    bool
dtypes: Int64(2), bool(4), int64(2), object(17)
memory usage: 156.1+ KB

In [ ]:
# '식별자' 컬럼 기준 중복 여부 확인
duplicated = df['식별자'].duplicated(keep=False)

# 중복된 행 출력
print(df[duplicated])

# 중복 개수 확인
print(f"중복된 식별자 수: {df['식별자'].duplicated().sum()}")
df_unique = df.drop_duplicates(subset='식별자')
print(f"중복 제거 후 인원 수: {df_unique.shape[0]}")

Empty DataFrame
Columns: [member_id, member_name, generation, birthday, email, phone_number, school1, major1_1, major1_2, major1_3, school2, major2, job, job_domain, company, major_data, class1, class2, class3, class4, marketing_agree, contents_agree, before_id, withdrawal, 식별자]
Index: []

[0 rows x 25 columns]
중복된 식별자 수: 0
중복 제거 후 인원 수: 918

In [ ]:
# 예시: 출석부에 있는 식별자 목록과 비교
attend_df = 출석표[['식별자']]
print(set(df['식별자']) - set(attend_df['식별자']))  # 출석부에 없는 식별자

set()

In [ ]:
print(set(attend_df['식별자']) - set(df['식별자']))

set()

In [ ]:
!ls "/content/drive/MyDrive/BDA 6기 운영진/6기 데이터팀/김지민"

 10기db.xlsx		      8_9_df.xlsx			       member.xlsx
 10기모집폼전처리.xlsx	     'BDA 10기 학회원 지원서 엑셀ver.gsheet'   member_구.xlsx
 10기응답폼.gsheet	      before_id.xlsx			       staff.xlsx
 10기응답폼.xlsx	      df10col.xlsx			       동서발전
'10기 응답폼_중복제거.xlsx'   df.csv				      '유입 소스.xlsx'
 10기전처리.ipynb	      duplicated.xlsx
'10기 출석표.xlsx'	      member_10.xlsx

In [ ]:
member_gu_df=  pd.read_excel('/content/drive/MyDrive/BDA 6기 운영진/6기 데이터팀/김지민/member_구.xlsx')
before_id_df=  pd.read_excel('/content/drive/MyDrive/BDA 6기 운영진/6기 데이터팀/김지민/before_id.xlsx')
member_9_df = pd.read_excel('/content/drive/MyDrive/BDA 6기 운영진/6기 데이터팀/김지민/member.xlsx')

In [ ]:
# NaN을 빈 문자열로 바꾸고, 소수점 없애고, 문자열로 고정
member_gu_df['phone_number'] = (
    member_gu_df['phone_number']
    .fillna("")                      # NaN -> 빈 문자열
    .apply(lambda x: str(int(x)) if isinstance(x, float) else str(x))  # float -> int -> str
    .str.zfill(10)                  # 앞자리 0 보존
)
member_9_df['phone_number'] = (
    member_9_df['phone_number']
    .fillna("")                      # NaN -> 빈 문자열
    .apply(lambda x: str(int(x)) if isinstance(x, float) else str(x))  # float -> int -> str
    .str.zfill(10)                  # 앞자리 0 보존
)

In [ ]:
# 🧼 전화번호 정리 & 식별자 생성 함수
def clean_phone_and_create_id(df):
    df['phone_number'] = (
        df['phone_number']
        .fillna("")
        .apply(lambda x: str(int(x)) if isinstance(x, float) else str(x))
        .str.zfill(10)
    )
    df['식별자'] = df['member_name'] + '_' + df['phone_number'].str[-4:-2]
    return df

# 모든 DF 정제 및 식별자 생성
before_id_df = clean_phone_and_create_id(before_id_df)
member_gu_df = clean_phone_and_create_id(member_gu_df)
member_9_df = clean_phone_and_create_id(member_9_df)

# 📌 3~8기: previous_class_8 → previous_class_3 역순 순회
for gen in range(8, 2, -1):
    prev_class_col = f'previous_class_{gen}'

    # 해당 기수 수강한 사람만 추출
    target = before_id_df[before_id_df[prev_class_col].notna() & (before_id_df[prev_class_col] != '해당없음')]

    # 해당 기수 데이터
    prev_members = member_gu_df[member_gu_df['generation'] == gen][['식별자', 'member_id']].copy()
    prev_members['member_id'] = prev_members['member_id'].astype(str)

    match_dict = dict(zip(prev_members['식별자'], prev_members['member_id']))

    def assign_before_id(row):
        if pd.notna(row.get('before_id')):
            return row['before_id']
        return match_dict.get(row['식별자'], None)

    before_id_df['before_id'] = before_id_df.apply(assign_before_id, axis=1)

# 🔁 9기 처리 (member.xlsx 기반)
prev_members_9 = member_9_df[['식별자', 'member_id']].copy()
prev_members_9['member_id'] = prev_members_9['member_id'].astype(str)
match_dict_9 = dict(zip(prev_members_9['식별자'], prev_members_9['member_id']))

def assign_before_id_9(row):
    if pd.notna(row.get('before_id')):
        return row['before_id']
    return match_dict_9.get(row['식별자'], None)

before_id_df['before_id'] = before_id_df.apply(assign_before_id_9, axis=1)

# 💾 저장
before_id_df.to_excel("before_id_final.xlsx", index=False)

In [ ]:
before_id_df

,member_id,member_name,phone_number,previous_class_3,previous_class_4,previous_class_5,previous_class_6,previous_class_7,previous_class_8,previous_class_9,식별자,before_id
0,2025100001,Hannah Safiah Binti Saharani,1058631610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hannah Safiah Binti Saharani_16,None
1,2025100002,Ngoc Vu (알렉스),1073063668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ngoc Vu (알렉스)_36,None
2,2025100003,Nur Izzatty Binti Mohamad Jamal,1097694955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nur Izzatty Binti Mohamad Jamal_49,None
3,2025100004,강동운,1085059745,해당없음,해당없음,해당없음,해당없음,해당없음,해당없음,0006 : 데이터 분석 전처리반(판다스),강동운_97,2024090003
4,2025100005,강두원,1063197508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강두원_75,None
...,...,...,...,...,...,...,...,...,...,...,...,...
913,2025100914,황정민,1092538625,해당없음,해당없음,해당없음,해당없음,해당없음,해당없음,0006 : 데이터 분석 전처리반(판다스),황정민_86,2024081077
914,2025100915,황종서,1099553477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,황종서_34,None
915,2025100916,황준영,1036658637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,황준영_86,None
916,2025100917,황지영,1050552321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,황지영_23,None
917,2025100918,황지희,1062687360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,황지희_73,2024081080

In [ ]:
member_gu_df

,고유번호_구,식별자_구,member_id,member_name,generation,birthday,email,phone_number,school1,major1_1,...,major_data,class1,class2,class3,class4,marketing_agree,contents_agree,before_id,withdrawal,식별자
0,20220045,강동인,2022030001,강동인,3,NaN,rkd2016@gmail.com,1056266237,NaN,NaN,...,False,8,NaN,NaN,NaN,False,False,NaN,False,강동인_62
1,20220001,구세원,2022030002,구세원,3,NaN,20190224@sungshin.ac.kr,1044216844,NaN,NaN,...,False,6,NaN,NaN,NaN,False,False,NaN,False,구세원_68
2,20220046,기유진,2022030003,기유진,3,NaN,yjk96792@gmail.com,1091632518,NaN,NaN,...,False,8,NaN,NaN,NaN,False,False,NaN,False,기유진_25
3,20220047,김건희,2022030004,김건희,3,NaN,ghee0107@naver.com,1099779345,NaN,NaN,...,False,8,NaN,NaN,NaN,False,False,NaN,False,김건희_93
4,20220002,김나경,2022030005,김나경,3,NaN,NaN,0000000000,NaN,NaN,...,False,6,NaN,NaN,NaN,False,False,NaN,False,김나경_00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4406,20240220,황지희73,2024081080,황지희,8,20030825,jihee.hwang@yonsei.ac.kr,1062687360,연세대학교,계량위험관리학과,...,False,1,NaN,NaN,NaN,False,False,NaN,False,황지희_73
4407,20231762,황태규45,2024081081,황태규,8,20000805,yyb30@naver.com,1037464507,고려대학교,컴퓨터학과,...,True,7,NaN,NaN,NaN,False,False,2.023071e+09,False,황태규_45
4408,20240221,황현하18,2024081082,황현하,8,20010923,ujhhh0923@gmail.com,1043681800,서울여자대학교,경영학과,...,False,1,NaN,NaN,NaN,False,False,NaN,False,황현하_18
4409,20240538,황혜정79,2024081083,황혜정,8,20010701,bvbzhjz@gmail.com,1090367991,이화여자대학교,커뮤니케이션미디어학과,...,False,4,NaN,NaN,NaN,False,False,NaN,False,황혜정_79
4410,20240857,황희영61,2024081084,황희영,8,20020401,heeyeong6180@gmail.com,1057736180,중앙대학교,사회학과,...,False,8,NaN,NaN,NaN,False,False,NaN,False,황희영_61

In [ ]:
# 3. before_id_df에서 식별자와 before_id만 추출
before_id_map = before_id_df[['식별자', 'before_id']].copy()

# 4. merge로 before_id 추가
member_10 = member_10.merge(before_id_map, on='식별자', how='left')

# 병합해서 붙은 before_id_y 컬럼을 최종 before_id로 사용
member_10['before_id'] = member_10['before_id_y']

# 필요 없는 열 정리
member_10 = member_10.drop(columns=['before_id_x', 'before_id_y'])

# 결과 확인
member_10

,식별자,member_id,member_name,generation,birthday,email,phone_number,school1,major1_1,major1_2,...,job_domain,major_data,class1,class2,class3,class4,marketing_agree,contents_agree,withdrawal,before_id
0,Hannah Safiah Binti Saharani_16,2025100001,Hannah Safiah Binti Saharani,10,20030102.0,h.safiahx@gmail.com,01058631610,정보없음,nan,nan,...,A. 해당없음,False,1,NaN,<NA>,<NA>,True,True,False,None
1,Ngoc Vu (알렉스)_36,2025100002,Ngoc Vu (알렉스),10,20030323.0,alex.vnbn@gmail.com,01073063668,연세대학교 서울캠퍼스,창의기술경영학과,nan,...,A. 해당없음,False,14,NaN,<NA>,<NA>,True,True,False,None
2,Nur Izzatty Binti Mohamad Jamal_49,2025100003,Nur Izzatty Binti Mohamad Jamal,10,19950228.0,izzattyjamal28@gmail.com,01097694955,University Malaysia Sarawak 대학교,Faculty of Resources Science and Technology 학과...,없음,...,A. 해당없음,False,1,NaN,<NA>,<NA>,True,True,False,None
3,강동운_97,2025100004,강동운,10,20011116.0,rvescd@gmail.com,01085059745,가천대학교 글로벌캠퍼스,응용통계학과,없음,...,A. 해당없음,True,15,NaN,<NA>,<NA>,True,True,False,2024090003
4,강두원_75,2025100005,강두원,10,20010926.0,danbean2013@gmail.com,01063197508,세종대학교,데이터사이언스학과,없음,...,A. 해당없음,True,4,NaN,<NA>,<NA>,True,True,False,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,황정민_86,2025100914,황정민,10,20000119.0,hjm8625@hanyang.ac.kr,01092538625,한양대학교 서울캠퍼스,융합전자공학부,nan,...,A. 해당없음,False,2,NaN,<NA>,<NA>,True,True,False,2024081077
914,황종서_34,2025100915,황종서,10,20040403.0,jongseo9955@gmail.com,01099553477,연세대학교 신촌캠퍼스,기계공학부,없음,...,A. 해당없음,False,4,NaN,<NA>,<NA>,True,True,False,None
915,황준영_86,2025100916,황준영,10,20030209.0,junyh29@gmail.com,01036658637,중앙대학교 서울캠퍼스,에너지시스템공학부,없음,...,A. 해당없음,False,4,16,<NA>,<NA>,True,True,False,None
916,황지영_23,2025100917,황지영,10,20021205.0,jihwangww@gmail.com,01050552321,경북대학교 대구캠퍼스,컴퓨터학부,nan,...,A. 해당없음,True,4,5,<NA>,<NA>,True,True,False,None
917,황지희_73,2025100918,황지희,10,20030825.0,ghkdwlgml0825@gmail.com,01062687360,연세대학교,계량위험관리학과,없음,...,L. 금융 및 보험업,False,12,15,<NA>,<NA>,True,True,False,2024081080

In [ ]:
# 문자열 'nan'을 진짜 NaN으로 바꾸기
member_10['birthday'] = member_10['birthday'].astype(str)
member_10 = member_10.replace("nan", np.nan)



# 엑셀로 저장 (이제 빈 셀로 나옴)
member_10.to_excel('member_10.xlsx', index=False)